.user-page{
    padding-top: 2rem;
}

.user-page #user-page-right {
    padding: 1rem 0;
}

.user-page #user-page-right .user-title{
    padding: 0.6rem;
    color: #2C4063;
    border-bottom: 1px solid #2C4063;

    
}

.user-page .user-notifications {
    border-bottom: 1px solid #2C4063;
    
}

.user-page .user-notifications h5 {
    padding: 1rem;
    background-color: #D9E2EB;

}


.user-page #user-page-left {
    padding: 1rem;
}

.user-page #user-page-left img {
    width: 300px;

}